@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

body {
    font-size: 20px;
    font-family: 'arial', sans-serif;
    color: #333;
    font-weight: 300;
    text-align: center;
    background-color: #ecf0f1;
    position: relative;
}

div.container {
    width: 100%;
    height: 30px;

}

div.progress {
    background-color: #2ecc71;
    height: 100%;
}

.progress .percent {
    line-height: 30px;
    color: black;
}

h1 {
    background-color: #444;
    color: #fff;
}


.answers {
    margin-bottom: 20px;
    text-align: left;
    display: inline-block;
}

.answers label {
    display: block;
    margin-bottom: 10px;
}

button {
    position: relative;
    padding: 10px 25px;
    font-size: 40px;
    margin: 50px 20px;
    border: 2px solid black;
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 0 0 0 2px white, 0 0 0 4px black;
    overflow: hidden;
    color: black;
    transition: .25s .05s linear;
    outline: none;
}

button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: #000;
    transition: .3s linear;
    z-index: -1;
}

button:hover::after {
    width: 100%;
}

button:hover {
    color: white;
}

#reset {
    display: none;
}


.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
}

.active-slide {
    opacity: 1;
    z-index: 2;
}

.quiz-container {
    position: relative;
    height: 200px;
    margin-top: 40px;
}

/* MODAL RESULT */
.modal-wrap {
    display: none;
}

.modal-wrap.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
}

.modal-wrap.active .modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 70%;
    border: 2px solid black;
    z-index: 2;
}

@media(max-width: 800px) {
    .modal-wrap.active .modal {
        width: 90%;
        height: 90%;
    }
}

.modal .middle {
    flex-grow: 1;
    background-color: #ccc;
}

.middle span {
    display: block;
    text-transform: uppercase;
    font-size: 2rem;
    padding: 40px 0;
}

.middle .text {
    margin-top: 5%;
}

.modal span.hide {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    font-family: arial;
    font-size: 30px;
    background-color: #fff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;

}

/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
  
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .pace-inactive {
    display: none;
  }
  
  .pace .pace-progress {
    background: #ffffff;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
  }
  