
.custonT1
{
font-family:Arial;
color:#2ecc71;
text-shadow:0px 0px 3px black;
}

.custonT2,.custonP1
{
font-family:arial;
color:#2ecc71;
font-weight: bold;
text-shadow:0px 0px 3px black;
}


.letra
{
width:40px;
height:40px;
margin:3px;
background:#2ecc71;
font-size:30px;
text-align:center;
font-family:arial;
}

#tagPalavra
{
display:flex;
color: #ecf0f1;
}


.desabilitado
{
opacity:.2;
}

#tagPalavra
{
margin:20px 0;

}

/* This is a compiled file, you should be editing the file in the templates directory */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #ffffff;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
